@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VoltairePower</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Menu.css" />
    <link rel="stylesheet" href="~/css/customer_layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="col-md-12">
                @if (Context.Session.GetInt32("CustomerId") == null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width: 200px; height: auto" src="/images/voltaire_power_logo.png">
                    </a>
                }
                else
                {
                    <a class="navbar-brand left" asp-area="" asp-controller="Home" asp-action="MainPage">
                        <img style="width: 200px; height: auto" src="/images/voltaire_power_logo.png">
                    </a>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse pull-right">
                        <ul class="navbar-nav flex-grow-1 ">
                            <li class="nav-item dropdown user-menu">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="hidden-xs">
                                        <br>
                                        @Context.Session.GetString("CustomerName")
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="@Url.Action("profile", "Profile")">Profile</a>
                                    <a class="dropdown-item" href="@Url.Action("Index", "Home")">Logout</a>
                                </div>
                            </li>
                            <li class="nav-item">
                            </li>
                        </ul>
                    </div>

                }
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
            </div>
            <ul class="list-unstyled components">
                <img style="width: 200px; height: auto" src="/images/solarPanelTep.png">
                <li class="active">
                    <a href="#viewSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-eye"></i> <span class="nav-label"> View </span> <span class="fa fa-chevron-left pull-right"></span></a>
                    <ul class="collapse list-unstyled" id="viewSubMenu">
                        <li class="active"><a href="#"><i class="fa fa-tachometer-alt"></i>Overview</a></li>
                        <li><a href="#"><i class="fa fa-solar-panel"></i>System View</a></li>
                        <li><a href="../../LineChart"><i class="fa fa-chart-line"></i>Basic Charts</a></li>
                        <li><a href="#"><i class="fa fa-chart-bar"></i>Advanced Charts</a></li>
                        <li><a href="@Url.Action("Create", "Checklists")"><i class="fa fa-info"></i>Checklist</a></li>
                        <li><a href="#"><i class="fa fa-award"></i>Premium</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#editSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-edit"></i> <span class="nav-label">Edit</span></a>
                    <ul class="collapse list-unstyled" id="editSubMenu">
                        <li><a href="#"><i class="fa fa-user-edit"></i>Edit Solar Sheet</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#settingSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
                    <ul class="collapse list-unstyled" id="settingSubMenu">
                        <li><a href="#"><i class="fa fa-exclamation-triangle"></i>Alerts</a></li>
                        <li><a href="#">Reports</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Page Content  -->
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - VoltairePower - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
