@model IEnumerable<VoltairePower.Models.SolarSheetDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Sor.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SolarSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrayLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberofInverters)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSolarStrings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolarModuleMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolarModulePwr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleOpenShortCircuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleShortCircuit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModulePerSeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleTempCoeff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InverterSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DcInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeakPwrTv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeakInvEff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcOpVolt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcVolt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcFreqNorminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxContinuousOC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerFact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WireGPerStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeofWire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthOfString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SolarSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrayLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofInverters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSolarStrings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolarModuleMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolarModulePwr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleOpenShortCircuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleShortCircuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModulePerSeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTempCoeff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InverterSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DcInput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeakPwrTv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeakInvEff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcOpVolt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcVolt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcFreqNorminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxContinuousOC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerFact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WireGPerStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofWire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthOfString)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
