@*@model IEnumerable<VoltairePower.Models.UnplaanedEvent>*@
@model VoltairePower.Models.UnplannedEvent




@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Authorized_Customers.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCause)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfActionTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IEnumerable<VoltairePower.Models.UnplannedEvent>)Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventCause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelfActionTaken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
